<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>Home Page</title>
		<link
			rel="stylesheet"
			href="styles.css"
		/>
	</head>
	<body style="font-family: Montserrat">
		<main>
			<form
				method="get"
				action="/logout"
			>
				<h1>Hey <%= name %>, Welcome to The Paradise!!!</h1>
				<button type="submit">LOGOUT</button>
			</form>
		</main>
	</body>
</html>
