<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>Register Page</title>
		<link
			rel="stylesheet"
			href="styles.css"
		/>
	</head>
	<body style="font-family: Montserrat">
		<main>
			<form method="post">
				<h1>REGISTER NOW</h1>
				<input
					type="text"
					name="name"
					placeholder="Name"
					required
				/>
				<input
					type="email"
					name="email"
					placeholder="Email"
					required
				/>
				<input
					type="password"
					name="password"
					placeholder="Password"
					required
				/>
				<button type="submit">SIGN UP</button>
			</form>
		</main>
	</body>
</html>
